@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato&family=Open+Sans:wght@300;400;500&display=swap');
#root {
  text-align: center;
}

.logo {
  font-family: "Agbalumo";
  color: #161fab;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.searchbar {
  width: 60rem;
  background: white;
  padding: 23px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 86px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-input {
  border: none;
  flex-basis: 50%;
}

.calendar-wrapper {
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
}

.calendar-cell {
  text-align: center;
  border-radius: 3px;
  background-color: #f3f3f499;
  cursor: pointer;
  font-family: "Open Sans";
  color: black;
  width: 7rem;
  display: inline-block;
  margin: 5px;
  font-weight:bold;
}

.py-4 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.calendar-row {
  display: block;
}


.calendar-head{
  width: 7rem;
  display: inline-block;
  margin: 5px;
  text-align: center;
}