@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato&family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato&family=Open+Sans:wght@300;400;500&display=swap');

body{
  font-family: 'Inter', sans-serif;
}

.logo {
  font-family: "Agbalumo";
  color: #26272c;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.grid-wrapper {
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2rem;
}

.first-image {
  grid-row-start: 1;
  grid-row-end: 3;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.searchbar {
  width: 60rem;
  background: white;
  padding: 23px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 86px;
}

.search-input {
  border: none;
  flex-basis: 50%;
}

.calendar-wrapper {
  width: fit-content;
  margin: auto;
}

.calendar-cell {
  text-align: center;
  border-radius: 3px;
  background-color: #f3f3f499;
  cursor: pointer;
  font-family: "Open Sans";
  color: black;
  width: 7rem;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
}

.py-4 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.calendar-row {
  display: block;
}


.calendar-head {
  width: 7rem;
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.reservation-wrapper {
  width: 65rem;
  margin: auto;
}

.reservation{
  margin-bottom: 16rem;
}
.reservation-wrapper .title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.home>div{
  background-image: url("../src/assets/img/fond.jpg");
  background-size: cover;
}

.errorbg {
  background-image: url("../src/assets/img/error.jpg");
  background-position: center center;
  background-size: cover;
}

.footer{
  height: 15rem;
  padding-top: 3rem;
}

.login{
  font-family: 'Inter', sans-serif;
  background-image: url("../src/assets/img/login.jpg");
}

